*{
    background-color: #F1F0E8;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #153448;
    background-color: #ADC4CE;
    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
}

h2{
    color: #ADC4CE;
    background-color: #153448;
    font-size: 30px;
    text-align: center;
}

form {
    text-align: center;
    line-height: 30px;
}

input{
    width: 200px;
}

button{
    width: 150px;
    height: 30px;
    color: #ADC4CE;
    background-color: #153448;
    margin-top: 30px;
}
.texto{
    font-size: 20px;
    text-orientation: center;
}